.header {
    height: 56px;
    background-color: white;
    display: flex;
    box-shadow: 2px;
    .menu-section {
        width: 10%;
    }
    .icon-section {
        width: 80%;
    }
    .account-section {
        width: 10%;
        position: relative;
        .vertical-center {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
    }
}